 .box {
        background-color: rgb(90, 247, 213);
        width: 400px;
        height: 350px;
        display: block;
        margin: auto;
    }

.box1 {
    margin: 10px;
    margin-left: 180px;
    margin-right: px;

}
